<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="en">
<html>
<head>
	<script type="text/javascript">
		function readSingleFile(evt) {
			var f = evt.target.files[0];   
			if (f) {
				var r = new FileReader();
				r.onload = function(e) { 
					var contents = e.target.result;                         
					var ct = contents.split();
				}
				r.readAsText(f);
			} else { 
					alert("Failed to load file");
		    }
				
		}
		
	</script>
	<title>Adding CSS</title>
	<link rel="stylesheet" href="css/style.css">
	<style type="text/css">
		h1 {
			color: #F38630;
			background-color: #A7DBD8;
		}
	</style>
</head>
<body style="background-color: #69D2E7;">
	<h1>login</h1>
	<div class="Content">
		
	</div >
	<div class="login">
		<form name="loginForm" id="loginForm">
			Username: <input type="text" name="userID" id="userID"><br>
			Password: <input type="text" name="pass" id="pass"><br>
			<button type="button" form="loginForm" id="loginBtn">Login</button>
		</form>
		<script>
			var btn = document.getElementById("loginBtn");
			if(btn){
				btn.addEventListener("click",function(){
					
					var uID = document.loginForm.userID.value;
					var pID = document.loginForm.pass.value;
					if (uID == ct[0] && pID == ct[1]){
						alert("logged in 8)");
				}},false)
			}
			else{
				alert("null :(" );
			}
		</script>
	</div>
</body>
</html>

