<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="en">
<html>
<head>
    <!-- device scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" type="text/css" href="public\css\bootstrap.css">
    
    <script type="text/javascript">
        var uID;
        var pID;
        var timeIN;
        var timeOut;
        var totalTime = 0;
        function getTime(){
            return new Date().getTime();
        }
        
        function calcTime(x,y){
            totalTime = totalTime + (x-y);
            return (x-y);
        }
	</script>
	<title>home</title>
</head>
<body>
	<h1>login</h1>
	<div class="Content">
		
	</div >
	<div class="login">
		<form name="loginForm" id="loginForm">
			Username: <input type="text" name="userID" id="userID"><br>
			Password: <input type="text" name="pass" id="pass"><br>
			<button type="button" form="loginForm" id="loginBtn">Login</button>
		</form>
        <button type="button" id="clockIn">Clock In</button>
        <button type="button" id="clockOut">Clock Out</button>
        <button type="button" id="total"><a href="views/timecard.ejs">Get total time</a></button>
		<script>
			var btn = document.getElementById("loginBtn");
			
            btn.addEventListener("click",function(){

                uID = document.loginForm.userID.value;
                pID = document.loginForm.pass.value;
                if (uID == "hello" && pID == "world"){
                    console.log("logged in 8)");
                }});
			
			
            var clockInBtn = document.getElementById("clockIn");
            var clockOutBtn = document.getElementById("clockOut");
            clockInBtn.addEventListener("click", function(){
               timeIn = getTime();
                
            });
            clockOutBtn.addEventListener("click", function(){
                timeOut = getTime();
            });
            clockOutBtn.addEventListener("click",function(){
                console.log(calcTime(timeOut,timeIn) + " ms");
            });
            var totalTimeBtn = document.getElementById("total");
            totalTimeBtn.addEventListener("click", function(){
                console.log(totalTime);
            })
		</script>
	</div>
</body>
</html>

